/* Libs
------------------------------------------------------------ */
/* Grid Settings
------------------------------------------------------------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Globals : Dependencies
------------------------------------------------------------ */
/* Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #f15a22;
  color: #fff;
  text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

/* Helper Mixins
------------------------------------------------------------ */
/* ==========================================================================

   Vertical Rhythm and Modular Scale with Baseline Grid by Justin Metros
   // inspired by www.gridlover.net

   ========================================================================== */
/* Colors
------------------------------------------------------------ */
.projectGradient, #homeAbout, .projectBrief, .topVideo.lacuna, .layout4.odd, .textSnippet, .invision {
  background-image: -webkit-linear-gradient(left, #E0E0E0, #d6d6d6);
  background-image: linear-gradient(to right, #E0E0E0, #d6d6d6); }

a {
  text-decoration: none; }
  a:link, a:visited, a:active {
    color: #fff; }
  a:hover {
    color: #333; }

::-moz-selection {
  background: #D14E58;
  text-shadow: none; }

::selection {
  background: #D14E58;
  text-shadow: none; }

/* Typography
------------------------------------------------------------ */
body {
  font-size: 19px;
  line-height: 28.5px; }

h1, .alpha {
  font-size: 76px;
  line-height: 85.5px;
  margin-top: 0px;
  margin-bottom: 28.5px; }

h2, .beta {
  font-size: 38px;
  line-height: 57px;
  margin-top: 0px;
  margin-bottom: 28.5px; }

h3, .gamma {
  font-size: 19px;
  line-height: 28.5px;
  margin-top: 0px;
  margin-bottom: 28.5px; }

h4, .delta {
  font-size: 19px;
  line-height: 28.5px; }

h5, .epsilon {
  font-size: 19px;
  line-height: 28.5px; }

h6, .zeta {
  font-size: 10px;
  line-height: 28.5px;
  margin-top: 0px;
  margin-bottom: 0px; }

p, ul, ol {
  font-size: 19px;
  line-height: 28.5px;
  margin-top: 0px;
  margin-bottom: 28.5px; }

h1, h2 {
  font-family: "ff-din-web", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

h1 {
  letter-spacing: .25em;
  line-height: 1.45em;
  font-size: 3em; }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 2em;
      line-height: 1.3em;
      letter-spacing: .2em; } }

h2, .beta {
  letter-spacing: .29em; }
  @media screen and (max-width: 640px) {
    h2, .beta {
      font-size: 1.5em;
      letter-spacing: .2em; } }

h3, h4, h5, h6, li {
  font-family: "ff-din-web", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: regular;
  letter-spacing: .25em; }
  @media screen and (max-width: 640px) {
    h3, h4, h5, h6, li {
      letter-spacing: .1em; } }

@media screen and (max-width: 640px) {
  li {
    font-size: .9em; } }

@media screen and (max-width: 640px) {
  h3 {
    font-size: 1em; } }

p, a {
  font-family: "ff-din-web", "Helvetica", sans-serif;
  line-height: 1.9em;
  color: #888;
  letter-spacing: .03em; }
  @media screen and (max-width: 640px) {
    p, a {
      line-height: 1.7em;
      font-family: "ff-din-web", "Helvetica", sans-serif;
      font-size: .9em; } }

.title {
  visibility: hidden;
  font-weight: bold;
  display: block;
  line-height: 1.3em;
  font-size: 1.85em;
  padding-bottom: .9em;
  color: #4d4d4d; }
  @media screen and (max-width: 640px) {
    .title {
      font-size: 1.35em; } }
  .title::after {
    content: "";
    display: block;
    border-bottom: 4px solid #4d4d4d;
    width: 3em;
    padding: .5em 0 0 0; }

a.bodyLink {
  color: #331C1C;
  font-weight: bold; }
  a.bodyLink:hover {
    color: #D14E58; }

/* Forms
------------------------------------------------------------ */
.button a {
  font-size: 1.05em;
  padding: .8em 2em;
  display: inline-block;
  background-color: #333;
  text-transform: uppercase;
  letter-spacing: .2em; }
  @media screen and (max-width: 640px) {
    .button a {
      font-size: .85em; } }
  .button a:hover {
    color: black;
    background-color: #fff; }

.projectNav {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em; }
  .projectNav:before, .projectNav:after {
    content: " ";
    display: table; }
  .projectNav:after {
    clear: both; }
  .projectNav .after a {
    background-color: #423a3a; }
  .projectNav .before a {
    background-color: #272222; }
  .projectNav a {
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 50%;
    background-color: #191616;
    float: left;
    text-align: center;
    padding: 1em; }
    @media (max-width: 500px) {
      .projectNav a {
        letter-spacing: .05em; } }
    @media (max-width: 400px) {
      .projectNav a {
        letter-spacing: .05em;
        font-size: .8em; } }
    .projectNav a:hover {
      background-color: #fff;
      color: black; }

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-5%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-5%); }
  100% {
    -webkit-transform: translateY(0%); } }
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 400ms;
  -webkit-animation-duration: 400ms;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    transform: translateY(15%);
    opacity: 0; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(15%);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1; } }
/*
==============================================
slideLeft
==============================================
*/
.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1.75s;
  -webkit-animation-duration: 1.75s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes slideLeft {
  0% {
    transform: translateX(150%); }
  50% {
    transform: translateX(-8%); }
  65% {
    transform: translateX(4%); }
  80% {
    transform: translateX(-4%); }
  95% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%); }
  50% {
    -webkit-transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%); } }
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 2.2s;
  -webkit-animation-duration: 2.2s;
  animation-iteration-count: once;
  -webkit-animation-iteration-count: once; }

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7; }
  50% {
    transform: scale(1.01);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0.7; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.05);
    opacity: 1; } }
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
.transition, a:link, a:visited, a:active, .logo, .logo path, .logo rect, .logo circle, .menu-btn, .menu-btn path, .menu-btn rect, .menu-btn circle, .xIcon, .pushy li a, .pushy li a::after, .hero .arrow, .hero .arrow polygon, footer .socialFoot .socialIcons path, footer .socialFoot .socialIcons rect, footer .socialFoot .socialIcons circle {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

.transitionHover, a:hover, .logo:hover path, .logo:hover circle, .logo:hover rect, .menu-btn:hover path, .menu-btn:hover circle, .menu-btn:hover rect, .xIcon:hover, .pushy li a:hover::after, .pushy li a a:hover::after, .hero .arrow:hover polygon, .projectHover:hover h2,
.projectHover:hover p, .projectHover:hover h3, footer .socialFoot .socialIcons:hover path, footer .socialFoot .socialIcons:hover circle, footer .socialFoot .socialIcons:hover rect {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease; }

.imgTransition, .projectHover {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease; }

.imgTransitionHover, .projectHover:hover {
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease; }

body {
  overflow: hidden; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F7F7F7;
  /* change if the mask should have another color then white */
  z-index: 9999;
  /* makes sure it stays on top */ }

#status {
  max-width: 200px;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 55%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/preloader3.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

/* Partials : Sections
------------------------------------------------------------ */
/* Layout
------------------------------------------------------------ */
body {
  background-color: #e8e8e8;
  font-size: 1em;
  line-height: 1.4; }
  @media screen and (max-width: 640px) {
    body {
      font-size: 1em; } }

.wrapper {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  @media (max-width: 1250px) {
    .wrapper {
      padding: 0 4%; } }

img {
  width: 100%; }

#main video {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/home-hero.jpg") no-repeat;
  background-size: cover; }

.functionality video {
  width: 100%    !important;
  height: auto   !important; }

@media screen and (max-width: 899px) {
  #bgvid {
    display: none; } }

.borderFlare, .topProject:nth-child(2) h2::after, .topProject h2::after, .projectGrid .gridTitle h2::after, #homeAbout h3::after, .projectBrief .description::after, footer .socialFoot h3:nth-child(2)::after, footer .cFoot h3:first-child::after, .projectBrief .aboutDescription::after {
  content: "";
  display: block;
  border-bottom: 4px solid #F2F0F0;
  width: 3em;
  padding: .25em 0 0 0; }

.backgroundImage, .hero, .topProject, .projectGrid .gridItem, .fullImg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: 50% 50% 9 !important; }

@media screen and (max-width: 899px) {
  #main.home {
    background: url("../img/home-hero.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
@media screen and (max-width: 899px) {
  #main.aboutHero {
    background: url("../img/about-hero2.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 60%; } }

/* Header
------------------------------------------------------------ */
img {
  vertical-align: middle; }

.logo {
  position: fixed;
  z-index: 9990;
  max-width: 7.5em;
  width: 100%;
  padding-top: 0em;
  height: 30%; }
  .logo path, .logo rect, .logo circle {
    fill: #F2F0F0;
    opacity: 1; }
  .logo:hover path, .logo:hover circle, .logo:hover rect {
    fill: #fff; }
  .logo:active path, .logo:visited path {
    fill: #fff; }
  @media screen and (max-width: 899px) {
    .logo {
      max-width: 6em;
      height: 10%; } }
  @media screen and (max-width: 640px) {
    .logo {
      max-width: 4.8em;
      margin-left: -.5em;
      margin-top: 0; } }

.menu-btn {
  position: fixed;
  z-index: 9990;
  max-width: 6em;
  width: 100%;
  height: 30%;
  cursor: pointer;
  right: 0; }
  .menu-btn path, .menu-btn rect, .menu-btn circle {
    fill: #F2F0F0;
    opacity: 1; }
  .menu-btn:hover path, .menu-btn:hover circle, .menu-btn:hover rect {
    fill: #fff; }
  .menu-btn:active path, .menu-btn:active circle, .menu-btn:active rect {
    fill: #fff; }
  @media screen and (max-width: 899px) {
    .menu-btn {
      max-width: 5em;
      height: 10%; } }
  @media screen and (max-width: 640px) {
    .menu-btn {
      max-width: 4.3em;
      margin-right: -.5em;
      margin-top: 0; } }

.xIcon {
  width: 6em;
  float: right;
  margin-top: -3em;
  margin-right: -5em;
  z-index: 9999;
  cursor: pointer;
  fill: #ccc; }
  .xIcon:hover {
    fill: #fff; }

html, body {
  -webkit-tap-highlight-color: transparent;
  /* disable webkit tap highlight */ }

/* Container */
#container {
  position: relative;
  padding: 20px 40px; }

/* Menu Button */
/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  max-width: 420px;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9999;
  background: #0f0f0f;
  padding: 1.5em 4% 0 4%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
  @media screen and (max-width: 640px) {
    .pushy {
      padding-left: 6%; } }
  .pushy h3 {
    color: #F2F0F0;
    font-size: 1.2em;
    letter-spacing: .5em;
    font-weight: 600;
    padding-top: 10%;
    line-height: 1.6em; }
    @media screen and (max-width: 899px) {
      .pushy h3 {
        padding-top: 3%; } }
    @media screen and (max-width: 640px) {
      .pushy h3 {
        letter-spacing: .35em;
        margin-bottom: .7em; } }
  .pushy p {
    color: #b3b3b1;
    font-weight: 200;
    font-size: .9em;
    margin-bottom: 0;
    letter-spacing: .05em; }
    @media screen and (max-width: 899px) {
      .pushy p {
        margin-bottom: 0; } }
    @media screen and (max-width: 640px) {
      .pushy p {
        line-height: 1.5em; } }
  .pushy li a {
    font-size: 1.2em;
    font-weight: regular;
    letter-spacing: .4em;
    font-family: "ff-din-web", "Helvetica", sans-serif;
    text-transform: uppercase;
    display: block;
    color: #b3b3b1;
    padding: 2em 0 .5em 0;
    text-decoration: none; }
    @media screen and (max-width: 899px) {
      .pushy li a {
        padding: 2.2em 0 0 0;
        color: #dad5d5; } }
    @media screen and (max-width: 640px) {
      .pushy li a {
        font-size: 1em; } }
    .pushy li a::after {
      content: "";
      display: block;
      width: 10%;
      padding-bottom: .5em;
      border-bottom: 4px solid rgba(255, 255, 255, 0.4); }
    .pushy li a:hover, .pushy li a a:hover {
      color: #fff; }
      .pushy li a:hover::after, .pushy li a a:hover::after {
        width: 30%;
        border-bottom: 4px solid #fff; }
  .pushy .contactMenu {
    bottom: 3%;
    display: block;
    position: absolute;
    color: #938383;
    font-weight: 200; }
    .pushy .contactMenu a {
      color: #dad5d5; }
      .pushy .contactMenu a:hover {
        color: #fff; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(420px, 0, 0);
  -moz-transform: translate3d(420px, 0, 0);
  -ms-transform: translate3d(420px, 0, 0);
  -o-transform: translate3d(420px, 0, 0);
  transform: translate3d(420px, 0, 0); }

.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.container-push, .push-push {
  -webkit-transform: translate3d(-420px, 0, 0);
  -moz-transform: translate3d(-420px, 0, 0);
  -ms-transform: translate3d(-420px, 0, 0);
  -o-transform: translate3d(-420px, 0, 0);
  transform: translate3d(-420px, 0, 0); }

/* Menu Transitions */
.pushy, #container, .push {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.57, 0.24, 0.23, 0.99);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.57, 0.24, 0.23, 0.99);
  -o-transition: -o-transform 0.5s cubic-bezier(0.57, 0.24, 0.23, 0.99);
  transition: transform 0.5s cubic-bezier(0.57, 0.24, 0.23, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: fade 500ms;
  -moz-animation: fade 500ms;
  -o-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Home
------------------------------------------------------------ */
.hero .tag {
  position: absolute;
  width: 100%;
  bottom: 30%;
  text-align: center; }
.hero .arrow {
  max-width: 8em;
  width: 100%;
  height: 20%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -4em;
  bottom: 0; }
  @media screen and (max-width: 640px) {
    .hero .arrow {
      max-width: 5em;
      margin-left: -2.5em; } }
  .hero .arrow polygon {
    fill: #F2F0F0;
    opacity: 1; }
  .hero .arrow:hover polygon {
    fill: #fff; }
.hero h1 {
  color: #F2F0F0; }
  @media screen and (max-width: 640px) {
    .hero h1 {
      line-height: 1.5em; } }
  .hero h1::after {
    margin: 0 auto; }
    @media screen and (max-width: 640px) {
      .hero h1::after {
        margin: 0; } }
  .hero h1 span {
    font-weight: 100;
    font-size: .5em; }
    @media screen and (max-width: 640px) {
      .hero h1 span {
        letter-spacing: .35em; } }
.hero p {
  color: #F2F0F0;
  letter-spacing: .05em;
  font-size: 1.4em;
  margin: 0 auto; }
  @media screen and (max-width: 640px) {
    .hero p {
      margin: 0;
      width: 100%; } }

.topProject {
  width: 100%;
  height: 34.5em;
  background-color: black;
  background-position: 50% 53%;
  -webkit-transition: background-position 500ms ease;
  -moz-transition: background-position 500ms ease;
  transition: background-position 500ms ease; }
  .topProject:hover {
    -webkit-transition: background-position 1500ms ease;
    -moz-transition: background-position 1500ms ease;
    transition: background-position 1500ms ease;
    background-position: 50% 49%; }
  .topProject:nth-child(1) {
    background-image: url("../img/stitch-home4.jpg"); }
  .topProject:nth-child(2) {
    background-image: url("../img/enrich-hero2.jpg");
    text-align: right; }
    .topProject:nth-child(2) h2 {
      clear: both; }
      .topProject:nth-child(2) h2::after {
        right: 0;
        position: absolute;
        display: block; }
        @media screen and (max-width: 640px) {
          .topProject:nth-child(2) h2::after {
            left: 0;
            position: absolute; } }
  .topProject:nth-child(3) {
    clear: both;
    background-image: url("../img/oaklanize-hero2.jpg"); }
  .topProject .wrapper {
    padding-top: 15em;
    margin: 0 auto;
    cursor: pointer; }
    .topProject .wrapper:nth-child(2) {
      text-align: right;
      clear: both; }
    @media screen and (max-width: 899px) {
      .topProject .wrapper {
        padding-top: 12em; } }
    @media screen and (max-width: 640px) {
      .topProject .wrapper {
        text-align: left;
        padding-top: 6.5em; } }
  .topProject h2 {
    color: #F2F0F0;
    clear: both;
    display: block; }
  .topProject p {
    display: none;
    max-width: 50%;
    letter-spacing: .05em;
    color: #F2F0F0;
    margin-bottom: .1em;
    clear: both; }
  .topProject h3 {
    font-weight: 100;
    color: white;
    clear: both;
    display: block; }
  @media screen and (max-width: 899px) {
    .topProject {
      height: 22em; } }
  @media screen and (max-width: 640px) {
    .topProject {
      height: 15em; } }

.projectGrid {
  clear: both;
  margin: 0 auto; }
  .projectGrid .gridItem {
    background-color: #000;
    float: left;
    margin: 0 0 0 0;
    list-style: none;
    width: 48%;
    height: 22em;
    width: 33.333333333333333%;
    background-position: 50% 55%;
    -webkit-transition: background-position 500ms ease;
    -moz-transition: background-position 500ms ease;
    transition: background-position 500ms ease; }
    @media (min-width: 1500px) {
      .projectGrid .gridItem {
        height: 21em; } }
    @media screen and (max-width: 899px) {
      .projectGrid .gridItem {
        width: 50%; } }
    @media screen and (max-width: 640px) {
      .projectGrid .gridItem {
        width: 100%; } }
    .projectGrid .gridItem:hover {
      background-position: 50% 10%;
      -webkit-transition: background-position 1000ms ease;
      -moz-transition: background-position 1000ms ease;
      transition: background-position 1000ms ease; }
    .projectGrid .gridItem:nth-child(1) {
      background-image: url("../img/50logos-thumb2.jpg"); }
    .projectGrid .gridItem:nth-child(2) {
      background-image: url("../img/sage-thumb.jpg"); }
    .projectGrid .gridItem:nth-child(3) {
      background-image: url("../img/stellar-thumb.jpg"); }
    .projectGrid .gridItem:nth-child(4) {
      background-image: url("../img/seasons-thumb.jpg"); }
    .projectGrid .gridItem:nth-child(5) {
      background-image: url("../img/posters-thumb.jpg"); }
    .projectGrid .gridItem:nth-child(6) {
      background-image: url("../img/lacuna-thumb.jpg"); }
    @media screen and (max-width: 899px) {
      .projectGrid .gridItem {
        height: 17em; } }
    @media screen and (max-width: 640px) {
      .projectGrid .gridItem {
        height: 15em; } }
  .projectGrid .gridTitle {
    padding: 10em 0 0 10%; }
    .projectGrid .gridTitle h2 {
      font-size: 1.5em;
      line-height: 1.5em;
      color: #F2F0F0;
      margin-bottom: 1em; }
      .projectGrid .gridTitle h2::after {
        padding-top: .5em; }
    .projectGrid .gridTitle p {
      display: none;
      color: #e6e2e2;
      margin-right: 3%;
      margin-bottom: .25em;
      letter-spacing: .05em; }
    .projectGrid .gridTitle h3 {
      font-weight: 400;
      color: #f2f0f0; }
    @media (min-width: 1500px) {
      .projectGrid .gridTitle {
        padding-top: 7.5em; } }
    @media screen and (max-width: 899px) {
      .projectGrid .gridTitle {
        padding: 8em 0 0 4%; } }
    @media screen and (max-width: 640px) {
      .projectGrid .gridTitle {
        padding: 6.5em 0 0 4%; } }

.gridItem figure {
  position: relative;
  overflow: hidden; }

.projectHover {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  .projectHover:hover {
    background-color: transparent; }
  @media screen and (max-width: 899px) {
    .projectHover {
      background-color: rgba(0, 0, 0, 0.4); } }
  @media screen and (max-width: 640px) {
    .projectHover {
      background-color: rgba(0, 0, 0, 0.4); } }

figure figcaption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure figcaption::before,
figure figcaption::after {
  pointer-events: none; }

figure figcaption,
figure figcaption > a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.projectHover h2,
.projectHover p,
.projectHover h3 {
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0); }

.projectHover h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }

.projectHover p,
.projectHover h3 {
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s; }
  @media screen and (max-width: 899px) {
    .projectHover p,
    .projectHover h3 {
      display: none; } }

.projectHover:hover p, .projectHover:hover h3 {
  opacity: 1; }

.projectHover:hover h2,
.projectHover:hover p, .projectHover:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.projectHover:hover p, .projectHover:hover h3 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s; }

#homeAbout {
  clear: both;
  padding: 10% 0 7% 0; }
  @media screen and (max-width: 899px) {
    #homeAbout {
      padding: 16% 0 10% 0; } }
  @media screen and (max-width: 640px) {
    #homeAbout {
      padding: 17% 0 8% 0; } }
  #homeAbout .wrapper {
    visibility: hidden; }
  #homeAbout h3 {
    font-weight: bold;
    line-height: 1.4em;
    padding-top: 4%;
    color: #666666;
    border-top: 4px solid #999999; }
    #homeAbout h3::after {
      padding-top: 4%;
      border-color: #b3b3b3; }
  #homeAbout p {
    font-size: 1.2em;
    letter-spacing: .1em;
    color: #999999; }
    @media screen and (max-width: 640px) {
      #homeAbout p {
        font-size: 1em; } }

/* Layout
------------------------------------------------------------ */
.hero.stitchHero {
  background-image: -webkit-linear-gradient(bottom, transparent, transparent), url("../img/stitch-hero5.jpg");
  background-image: linear-gradient(to top, transparent, transparent), url("../img/stitch-hero5.jpg"); }
.hero.enrichHero {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/enrich-hero.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/enrich-hero.jpg"); }
.hero.oaklanizeHero {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/oaklanize-hero1.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/oaklanize-hero1.jpg"); }
.hero.logosHero {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/50logos-hero3.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/50logos-hero3.jpg"); }
.hero.sageHero {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/sage-hero.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/sage-hero.jpg"); }
.hero.posterHero {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/posters-hero.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/posters-hero.jpg"); }
.hero.lacunaHero {
  background-image: -webkit-linear-gradient(bottom, transparent, transparent), url("../img/lacuna-hero.jpg");
  background-image: linear-gradient(to top, transparent, transparent), url("../img/lacuna-hero.jpg"); }
.hero.visualizerHero {
  background-image: -webkit-linear-gradient(bottom, transparent, transparent), url("../img/visualizer-hero.jpg");
  background-image: linear-gradient(to top, transparent, transparent), url("../img/visualizer-hero.jpg"); }
.hero.stellarHero {
  background-image: -webkit-linear-gradient(bottom, transparent, transparent), url("../img/stellar-hero.jpg");
  background-image: linear-gradient(to top, transparent, transparent), url("../img/stellar-hero.jpg"); }
.hero.errorHero {
  background-image: -webkit-linear-gradient(bottom, transparent, transparent), url("../img/error-hero.jpg");
  background-image: linear-gradient(to top, transparent, transparent), url("../img/error-hero.jpg"); }
.hero .tagProject {
  bottom: 30%; }
  .hero .tagProject h1 {
    font-size: 3.7em; }
    @media screen and (max-width: 640px) {
      .hero .tagProject h1 {
        font-size: 2.2em; } }
    .hero .tagProject h1::after {
      border: none;
      margin: 0 auto; }
      @media screen and (max-width: 640px) {
        .hero .tagProject h1::after {
          margin: 0; } }

.projectBrief {
  padding: 7.5% 0 6% 0;
  z-index: 500; }
  @media screen and (max-width: 899px) {
    .projectBrief {
      padding: 10% 0 10% 0; } }
  @media screen and (max-width: 640px) {
    .projectBrief {
      padding: 13% 0 5% 0; } }
  .projectBrief .wrapper {
    visibility: hidden; }
  .projectBrief .descriptionHeader h4::after {
    border: none; }
  .projectBrief .description {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%;
    border-color: #666666; }
    .projectBrief .description:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .projectBrief .description {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        padding-bottom: 2em; }
        .projectBrief .description:last-child {
          margin-right: 0; } }
    .projectBrief .description::after {
      border-color: #666666;
      width: 20%; }
    .projectBrief .description.web::after {
      border: none; }
  .projectBrief .tags {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%;
    margin-right: 0; }
    .projectBrief .tags:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .projectBrief .tags {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .projectBrief .tags:last-child {
          margin-right: 0; } }
    .projectBrief .tags li {
      padding-bottom: 1.4em; }
      @media screen and (max-width: 640px) {
        .projectBrief .tags li {
          display: inline;
          padding-right: 5%; } }

.topVideo {
  padding-top: 6%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .topVideo {
      padding-top: 13%;
      padding-bottom: 13%; } }

.video1 {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  margin-bottom: 2.4%; }
  .video1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#main-content .content-editor .video-container {
  height: 0;
  overflow: hidden;
  padding-top: 30px; }

.layout1 {
  padding-top: 6%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .layout1 {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .layout1 img:nth-child(1) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .layout1 img:nth-child(1):last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .layout1 img:nth-child(1) {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .layout1 img:nth-child(1):last-child {
          margin-right: 0; } }
  .layout1 .column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-right: 0;
    padding-bottom: 2.5%; }
    .layout1 .column:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .layout1 .column {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .layout1 .column:last-child {
          margin-right: 0; } }
    .layout1 .column img:nth-child(1) {
      float: left;
      display: block;
      margin-right: 4.8291579146%;
      width: 100%;
      margin-bottom: 5%; }
      .layout1 .column img:nth-child(1):last-child {
        margin-right: 0; }
      @media screen and (max-width: 640px) {
        .layout1 .column img:nth-child(1) {
          padding-top: 10%;
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 100%; }
          .layout1 .column img:nth-child(1):last-child {
            margin-right: 0; } }
    .layout1 .column img:nth-child(2) {
      float: left;
      display: block;
      margin-right: 4.8291579146%;
      width: 100%;
      margin-right: 0; }
      .layout1 .column img:nth-child(2):last-child {
        margin-right: 0; }
      @media screen and (max-width: 640px) {
        .layout1 .column img:nth-child(2) {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 100%;
          padding-top: 5%; }
          .layout1 .column img:nth-child(2):last-child {
            margin-right: 0; } }

.row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .row:last-child {
    margin-right: 0; }
  .row img {
    width: 100%; }

.layout4 {
  padding-top: 6%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .layout4 {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .layout4 img:nth-child(odd) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .layout4 img:nth-child(odd):last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .layout4 img:nth-child(odd) {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        margin-right: 0;
        padding-bottom: 10%; }
        .layout4 img:nth-child(odd):last-child {
          margin-right: 0; } }
  .layout4 img:nth-child(even) {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-right: 0; }
    .layout4 img:nth-child(even):last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .layout4 img:nth-child(even) {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        padding-bottom: 10%; }
        .layout4 img:nth-child(even):last-child {
          margin-right: 0; } }
  .layout4 img:nth-child(3), .layout4 img:nth-child(4) {
    padding-top: 2.5%; }
    @media screen and (max-width: 640px) {
      .layout4 img:nth-child(3), .layout4 img:nth-child(4) {
        padding-top: 0; } }
  .layout4.enrich {
    background-image: -webkit-linear-gradient(bottom, #222, #222);
    background-image: linear-gradient(to top, #222, #222); }
  .layout4.logos {
    padding-top: 0; }

.layout5 {
  padding-top: 6%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .layout5 {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .layout5 .row {
    padding-bottom: 6%; }
    .layout5 .row img {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      padding: 0 1.5em; }
      .layout5 .row img:last-child {
        margin-right: 0; }
      @media screen and (max-width: 640px) {
        .layout5 .row img {
          float: left;
          display: block;
          margin-right: 2.3576515979%;
          width: 100%;
          padding: 0 15% 5% 15%; }
          .layout5 .row img:last-child {
            margin-right: 0; } }

.lower img:nth-child(1) {
  margin-left: 17.0596085997%; }
  @media screen and (max-width: 640px) {
    .lower img:nth-child(1) {
      margin-left: 0%; } }
.lower img {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 40.2913699012%;
  padding: 0 3.5em; }
  .lower img:last-child {
    margin-right: 0; }

.functionality2 {
  background-image: -webkit-linear-gradient(bottom, #222, #222);
  background-image: linear-gradient(to top, #222, #222);
  padding-top: 7.8%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .functionality2 {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .functionality2 .column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .functionality2 .column:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .functionality2 .column {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .functionality2 .column:last-child {
          margin-right: 0; } }
    .functionality2 .column .group {
      padding-top: 35%; }
      @media screen and (max-width: 899px) {
        .functionality2 .column .group {
          padding-top: 10%; } }
      @media screen and (max-width: 640px) {
        .functionality2 .column .group {
          padding-top: 0; } }
      .functionality2 .column .group h4 {
        color: #cec7c7; }
      .functionality2 .column .group p {
        color: #9f9090; }
  .functionality2 .videoContainer {
    position: relative;
    padding-bottom: 37%;
    /* 16:9 */
    height: 0;
    margin-bottom: 2.4%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .functionality2 .videoContainer:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .functionality2 .videoContainer {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .functionality2 .videoContainer:last-child {
          margin-right: 0; } }
    .functionality2 .videoContainer iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.fullImg {
  height: 50em; }
  @media screen and (max-width: 899px) {
    .fullImg {
      height: 34em; } }
  @media screen and (max-width: 640px) {
    .fullImg {
      height: 20em; } }
  .fullImg.stitchGrid {
    background-image: url("../img/stitch-home2.jpg"); }
  .fullImg.enrichFull {
    background-image: url("../img/enrich-full-dashboard.jpg"); }
  .fullImg.enrichFull2 {
    background-image: url("../img/enrich-full2.jpg"); }
  .fullImg.oaklanizeAppGrid {
    background-image: url("../img/oaklanize-macbook.jpg"); }
  .fullImg.oaklanizeMockup {
    background-image: url("../img/oaklanize-app_grid.jpg"); }
  .fullImg.sageMockup {
    background-image: url("../img/sage-mockup.jpg"); }
  .fullImg.lacunaMockup {
    background-image: url("../img/lacuna-mockup.jpg"); }

.fullImgContain {
  padding-top: 6%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .fullImgContain {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .fullImgContain .row {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .fullImgContain .row:last-child {
      margin-right: 0; }
    .fullImgContain .row img {
      width: 100%; }
  .fullImgContain.stitch {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: -webkit-linear-gradient(bottom, #222, #222);
    background-image: linear-gradient(to top, #222, #222); }

.functionality {
  padding-top: 6%;
  padding-bottom: 6%;
  position: relative; }
  @media screen and (max-width: 640px) {
    .functionality {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .functionality img {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .functionality img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .functionality img {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        padding-top: 6%; }
        .functionality img:last-child {
          margin-right: 0; } }
  .functionality.invision img {
    padding-left: 10em; }
    @media screen and (max-width: 640px) {
      .functionality.invision img {
        padding: 0 5em;
        padding-top: 6%; } }
  .functionality .demo {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .functionality .demo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      .functionality .demo {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .functionality .demo:last-child {
          margin-right: 0; } }
  .functionality .info {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 53%;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    margin-right: 0; }
    .functionality .info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 899px) {
      .functionality .info {
        top: 15%; } }
    @media screen and (max-width: 640px) {
      .functionality .info {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        padding-top: 1em; }
        .functionality .info:last-child {
          margin-right: 0; } }

.textSnippet {
  padding: 6% 0 6% 0; }
  @media screen and (max-width: 899px) {
    .textSnippet {
      padding: 8% 0 7% 0; } }
  @media screen and (max-width: 640px) {
    .textSnippet {
      padding: 5% 0 5% 0; } }
  .textSnippet .wrapper {
    visibility: hidden; }
  .textSnippet p {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    line-height: 1.4em;
    padding-top: 4%; }
    @media screen and (max-width: 640px) {
      .textSnippet p {
        font-size: 1.1em;
        line-height: 1.75em; } }
    .textSnippet p::after {
      padding-top: 4%; }

.invision {
  padding-top: 6%;
  padding-bottom: 6%; }
  @media screen and (max-width: 640px) {
    .invision {
      padding-top: 13%;
      padding-bottom: 13%; } }
  .invision iframe {
    margin: 0 auto;
    max-width: 442px;
    width: 100%;
    height: 926px; }
  .invision .proto {
    max-width: 450px;
    margin: 0 auto; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 2.72em;
  position: relative;
  zoom: 1; }

.process {
  padding-top: 6%; }
  @media screen and (max-width: 640px) {
    .process {
      padding-top: 13%; } }

.flex-viewport {
  max-height: 650px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1;
  -webkit-filter: contrast(0.7); }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  max-width: 5em;
  width: 100%;
  height: 100%;
  margin: -25px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 white;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  .flex-direction-nav a:hover {
    box-shadow: none; }

.flex-direction-nav .flex-prev {
  opacity: .75;
  left: 1.9em; }
  @media screen and (max-width: 899px) {
    .flex-direction-nav .flex-prev {
      opacity: .95;
      left: 1em; } }
  @media screen and (max-width: 640px) {
    .flex-direction-nav .flex-prev {
      left: .95em; } }

.flex-direction-nav .flex-next {
  opacity: .75;
  right: 1em;
  text-align: right; }
  @media screen and (max-width: 899px) {
    .flex-direction-nav .flex-next {
      opacity: .95;
      right: -.7em;
      text-align: right; } }
  @media screen and (max-width: 640px) {
    .flex-direction-nav .flex-next {
      margin-right: .85em;
      max-width: 2.75em;
      text-align: right; } }

.flexslider:hover .flex-prev {
  opacity: 1; }

.flexslider:hover .flex-next {
  opacity: 1; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  width: 4em;
  height: 4em;
  content: "";
  border: 3.5px solid white;
  background: url("../img/icons/arrow.svg") no-repeat 3px;
  background-size: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
  @media screen and (max-width: 899px) {
    .flex-direction-nav a:before {
      background-size: 100%;
      width: 3em;
      height: 3em; } }
  @media screen and (max-width: 640px) {
    .flex-direction-nav a:before {
      border: 2px solid white;
      width: 1.9em;
      height: 1.9em;
      background-position: 2px; } }

.flex-direction-nav a.flex-next:before {
  display: block;
  content: "";
  background: url("../img/icons/arrow.svg") no-repeat 1px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media screen and (max-width: 640px) {
    .flex-direction-nav a.flex-next:before {
      background-position: 1px; } }

/* Footer
------------------------------------------------------------ */
footer {
  background-color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(66.666%, #232121), color-stop(66.666%, #D14E58));
  background-image: -webkit-linear-gradient(left, #232121 66.666%, #D14E58 66.666%);
  background-image: linear-gradient(to right,#232121 66.666%, #D14E58 66.666%); }
  @media screen and (max-width: 640px) {
    footer {
      background-color: #333;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, #D14E58), color-stop(43%, #232121));
      background-image: -webkit-linear-gradient(bottom, #D14E58 43%, #232121 43%);
      background-image: linear-gradient(to top,#D14E58 43%, #232121 43%); } }
  @media (min-width: 1300px) {
    footer {
      background-color: #333;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #232121), color-stop(60%, #D14E58));
      background-image: -webkit-linear-gradient(left, #232121 60%, #D14E58 60%);
      background-image: linear-gradient(to right,#232121 60%, #D14E58 60%); } }
  footer .wrapper {
    visibility: hidden; }
  footer .socialFoot {
    height: 20em;
    padding-top: 9.5%;
    margin-right: 0;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    margin-right: 0; }
    footer .socialFoot:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      footer .socialFoot {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        padding-top: 3.5em;
        height: inherit; }
        footer .socialFoot:last-child {
          margin-right: 0; } }
    footer .socialFoot h3 {
      color: #938383;
      text-transform: none;
      letter-spacing: .07em;
      line-height: 1.5em; }
      footer .socialFoot h3:nth-child(2) {
        padding-top: 0; }
        footer .socialFoot h3:nth-child(2)::after {
          padding-top: 4%;
          border-color: #938383; }
      @media (max-width: 720px) {
        footer .socialFoot h3 {
          letter-spacing: 0.05em; } }
    footer .socialFoot a:link, footer .socialFoot a:visited, footer .socialFoot a:active {
      color: #cbcbcb; }
    footer .socialFoot a:hover {
      color: #fff; }
    footer .socialFoot .socialIcons {
      display: inline-block;
      width: 100%;
      max-width: 2.8em;
      margin-right: 4%;
      height: 30%; }
      @media screen and (max-width: 640px) {
        footer .socialFoot .socialIcons {
          max-width: 2.2em; } }
      footer .socialFoot .socialIcons path, footer .socialFoot .socialIcons rect, footer .socialFoot .socialIcons circle {
        fill: #717171; }
      footer .socialFoot .socialIcons:hover path, footer .socialFoot .socialIcons:hover circle, footer .socialFoot .socialIcons:hover rect {
        fill: #fff; }
  footer .cFoot {
    padding: 13% 0 0 2em;
    height: 20em;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0; }
    footer .cFoot:last-child {
      margin-right: 0; }
    @media (min-width: 900px) {
      footer .cFoot {
        padding-left: 5em; } }
    @media screen and (max-width: 640px) {
      footer .cFoot {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        height: 13em;
        padding-top: 6em;
        padding-bottom: 5%;
        padding-left: 0; }
        footer .cFoot:last-child {
          margin-right: 0; } }
    footer .cFoot h3 {
      color: #F2F0F0;
      padding-bottom: 0em;
      margin-bottom: 0; }
      footer .cFoot h3:first-child::after {
        padding-top: 4%;
        border-color: #c3b9b9; }
    footer .cFoot span {
      color: #c3b9b9; }

/* About
------------------------------------------------------------ */
.projectBrief .aboutDescription {
  text-align: center; }
  @media screen and (max-width: 640px) {
    .projectBrief .aboutDescription {
      padding-bottom: 12%; } }
  .projectBrief .aboutDescription::after {
    border-color: #666666;
    width: 20%;
    margin: 0 auto; }
  .projectBrief .aboutDescription h4::after {
    border: none; }

.about {
  padding-top: 9%;
  padding-bottom: 8.4%; }
  .about .wrapper {
    visibility: hidden; }
  .about .column1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    padding: 2em 2em 0 2em; }
    .about .column1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 899px) {
      .about .column1 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        padding: 0% 30% 5% 30%; }
        .about .column1:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 640px) {
      .about .column1 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        padding: 5% 20% 10% 20%; }
        .about .column1:last-child {
          margin-right: 0; } }
    .about .column1 img {
      border-radius: 500px;
      -webkit-filter: contrast(0.75); }
  .about .column2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .about .column2:last-child {
      margin-right: 0; }
    @media screen and (max-width: 899px) {
      .about .column2 {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%; }
        .about .column2:last-child {
          margin-right: 0; } }

#map_canvas img {
  padding: none; }

#map-canvas, #map_canvas {
  background-color: #ccc;
  width: 100%;
  height: 40em; }
  @media screen and (max-width: 899px) {
    #map-canvas, #map_canvas {
      height: 20em; } }
  @media screen and (max-width: 640px) {
    #map-canvas, #map_canvas {
      height: 15em; } }
